@media ( max-width: 1200px)
  .container
    max-width: 960px
  .hotel-slider
    max-width: 590px
  .swiper-slide
    &__image
      max-width: 590px
      height: 450px
  .card
    width: 230px
    height: 230px
    &__content
      width: 100%
@media ( max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-bottom: 30px
      padding-top: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel-slider
    height: 450px
    max-width: 700px
    margin-bottom: 30px
  .swiper-slide
    &__image
      max-width: 700px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
      min-height: 450px
    &-right
      flex-direction: row
  .booking
    width: 340px
    height: 210px
  .map
    width: 340px
    height: 210px
  .rewiews
    &__tittle
      margin-bottom: 50px
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      color: $text-color
    &-slider
      &__item
        max-width: 580px
<<<<<<< HEAD
        &::before
          content: ''
          display: none
        &::after
          content: ''
          display: none
=======
  .activities
    padding-bottom: 50px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
>>>>>>> 671482bc75d775eddd3d4b253b550ed31cbfcd30
@media ( max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
    &-top
      padding-top: 28px
      padding-bottom: 28px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $text-light
      cursor: pointer
      color: black
      padding: 0
      &__line
        color: $text-color
        background-color: $text-color
        width: 16px
        height: 1px
        font-weight: 1px
  .hotel-slider
    height: 350px
  .swiper-slide
    height: 350px
    &__image
      max-width: 700px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-name
      flex-basis: 100%
    &-info
      &__text
        width: 100%
    &-wrapper
      justify-content: space-between
    &__stars
      flex-direction: row-reverse
      flex-basis: 50%
      margin-bottom: 16px
      width: 48px
      height: 8px
      margin-right: 36px
      &-item
        margin-left: 4px
        margin-right: 0
        width: 6px
        height: 6px
    &-name
      margin-right: 0
  .rating
    display: none
  .offer
    order: -1
    margin-bottom: 10px
  .hotel-right
    display: flex
    flex-direction: column
    justify-content: space-between
    min-height: 450px
  .swiper-slide
    height: 100%
    &__image
      max-width: 700px
      height: 450px
      object-fit: cover
  .booking
    width: 100%
  .map
    width: 100%
    height: 210px
    &__frame
      width: 100%
      height: 100%
      border: none
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: start
    &-tittle
      margin-bottom: 37px
  .rewiews
    &__tittle
      margin-bottom: 42px
      font-style: normal
      font-weight: bold
      font-size: 30px
      line-height: 38px
      text-align: center
      text-transform: uppercase
      color: $text-color
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          margin-left: -85px
          left: 50%
          transform: translate(-50%, 0)
        &--next
          margin-right: -85px
          right: 50%
          transform: translate(50%, 0)
  .activities
    padding-top: 40px
    padding-bottom: 40px
  .card
    width: 49%
    height: 255px
@media ( max-width: 576px)
  .logo
    width: 99px
  .hotel-slider
    margin-bottom: 20px
    width: 100%
    height: 180px
  .swiper-slide
    height: 100%
    &__image
      width: 100%
      height: 180px
  .hotel
    padding-bottom: 40px
    &-description
      margin-top: 0
      margin-bottom: 20px
      white-space: pre-line
      &__break
        white-space: normal
    &-right
      display: flex
      flex-direction: column
      justify-content: space-between
      min-height: 405px
  .booking
    height: 210px
    padding-top: 29px
    padding-bottom: 26px
  .map
    width: 100%
    height: 173px
  .newsletter
    padding-top: 76px
    padding-bottom: 83px
    &-tittle
      margin-top: 0
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 20px
  .rewiews
    padding-bottom: 50px
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 23px
    text-align: center
    text-transform: uppercase
    color: $text-color
<<<<<<< HEAD
    &__tittle
      font-style: bold
      font-size: 23px
      line-height: 23px
    &-slider
      &__username
        font-style: normal
        font-weight: bold
        font-size: 12px
        line-height: 15px
        text-transform: none
      &__date
        text-transform: none
        font-style: normal
        font-weight: normal
        font-size: 10px
        line-height: 13px
      &__text
        text-transform: none
        font-style: normal
        font-weight: normal
        font-size: 12px
        line-height: 160%
        text-align: left
@media ( max-width: 440px)
  .hotel
    &-description
      max-width: 280px
      &__break
        white-space: word-wrap
=======
  .activities
    &-tittle
      margin-bottom: 36px
  .card
    width: 100%
    height: 255px
    &:last-child
      margin: 0
>>>>>>> 671482bc75d775eddd3d4b253b550ed31cbfcd30
