*
  box-sizing: border-box
  outline: none
body
  font-family: "Mulish", sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.input
  background-color: $text-light
  border-radius: 4px
  border: none
  padding: 0 23px
  height: 50px
  &::placeholder
    font-size: 12px
    line-height: 15px
    color: $color-input
.message
  background-color: $text-light
  border-radius: 4px
  padding: 18px 23px
  border: none
  margin-bottom: 15px
  &::placeholder
    font-size: 12px
    line-height: 15px
    color: $color-input
.button
  width: 160px
  max-height: 50px
  padding: 18px
  color: $text-light
  background-color: $primary
  font-style: normal
  font-weight: bold
  font-size: 12px
  line-height: 15px
  border: none
  border-radius: 4px
  cursor: pointer
